<section id="iniciar-processo">
    <h2>Iniciar Processo</h2>
    <p>Para iniciar um processo, clique em <span class="botao-cinza">Iniciar Processo</span> no Menu Principal:
    </p>
    <img src="./assets/images/iniciar-processo-01.png" alt="">
    <br><br>
    <p>A tela <span class="bi">Iniciar Processo</span> (abaixo) se abrirá.</p>
    <p>
        Escolha o tipo de processo. Os tipos mais usados ficam em destaque. Para exibir todos os tipos de
        processo disponíveis, clique no ícone <img class="inline-icon v-middle" src="./assets/images/icon-plus.svg"
            alt="">.
    </p>
    <img class="screen" src="./assets/images/iniciar-processo-02.png" alt="">
    <br>
    <p>
        É possível facilitar a busca utilizando uma palavra-chave:
    </p>

    <!-- Printar tela com palavra chave 'AVERBAÇÃO' e alterar -->

    <img src="./assets/images/iniciar-processo-04.png" alt="">

    <!-- Preencher 'Especificação'
         Preencher 'Interessados'
         Nível de acesso:
            - Público
            - Restrito
            - Sigiloso
        
        Salvar
    -->

    <p>Clique no Tipo de Processo escolhido. Na tela seguinte:</p>

    <img src="./assets/images/*****.png" alt="**Imagem Iniciar Processo**">
    <br><br>

    <p> <span class="bu">Protocolo</span> : Utilize "Automático" em caso de novos processos (o sistema irá gerar automaticamente o número do novo processo). Esta é a opção a ser utilizada na quase totalidade dos casos.

        Apenas em caso de digitalização de processos físicos já existentes é que deverá ser informado a opção
        "Informado" e digitado o número correspondente do processo físico.</p>

    <p> <span class="bu">Especificação</span> (opcional) : **** Caso queira especificar alguma informação adicional.</p>

    <p> <span class="bu">Interessados</span> (opcional) : Informar os interessados no processo. Em processos de cunho
        pessoal o
        interessado será o próprio servidor. Digitar o nome do interessado, teclar <span class="tecla">Enter</span> , e
        se necessário confirmar a inclusão no botão <span class="tecla-azul">OK</span></p>

    <p> <span class="bu">Observações desta unidade</span> (opcional) : Informações adicionais que estão disponíveis para
        pesquisa e
        visualização
        apenas pela Unidade que as inseriu.</p>

    <p> <span class="bu">Nível de Acesso</span> : Há três níveis de acesso possíveis:</p>
    
    <p class="recuo-main"><strong>Público</strong> : o processo e os seus documentos são acessíveis a qualquer usuário de qualquer unidade.</p>

    <p class="recuo-main"><strong>Restrito</strong> : o processo e os seus documentos são acessíveis apenas aos usuários das unidades onde o processo tenha tramitado.</p>

    <p class="recuo-main"><strong>Sigiloso</strong> : o processo e os seus documentos são acessíveis apenas a usuários a que foi concedida credencial de acesso. Não aparece nas pesquisas.</p>
    
    <p>
        Na esfera administrativa a publicidade é a regra.
        Porém existem processos ou documentos que devido à sua própria natureza devem ter seu conteúdo restrito a um
        determinado grupo de pessoas ou a determinada unidade. Como exemplo, processos de investigação correicionais são sigilosos, bem
        como processos médicos de servidores.
    </p>

    <p>
        Os níveis de restrição de acesso permitidos são configurados durante o cadastro do tipo de processo. Significa
        que só é possível abrir um processo sigiloso se essa opção estiver configurada como permitida para o tipo de
        processo escolhido. Os tipos de processos que podem ser sigilosos aparecem com o fundo vermelho na lista “<span
            class="bold">Escolha o Tipo do Processo</span>”.
    </p>

    <p>Por fim, clique no botão "Salvar" para finalizar a criação do processo</p>

    <div class="divider"></div>

    <div class="video-tag"><img src="./assets/images/icon-play.svg" alt=""> Vídeo demonstração</div>
    <video src="./assets/videos/********.mp4" controls preload="none"></video>

    <div class="divider"></div>

    <div class="yellow-board">
        <h4>Dica</h4>
        <p>Apesar de alguns campos serem opcionais, é interessante o preenchimento a fim de facilitar futuras pesquisas.

        </p>
    </div>

    <br><br><br>
</section>