<section id="consideracoes-iniciais">
    <h2>Considerações iniciais</h2>
    <p>Este tutorial não pretende abordar todas as funcionalidades existentes no SEI. O foco será no uso
        básico/intermediário, o qual já será suficiente para a maioria dos usuários desenvolver atividades no
        SEI de forma bastante produtiva.</p>

    <br>
</section>

<section id="antes-comecar">
    <h3>Antes de começar o Tutorial</h3>
    <p>Apesar do uso de extensões não ser imprescindível para o uso do SEI, o qual funciona de forma
        independente sem o uso de quaisquer delas, a fim de facilitar o uso de algumas funcionalidades, ou seja,
        realizar algumas tarefas de forma mais simples, prática e produtiva, é recomendada a instalação e uso de
        uma das seguintes extensões:</p>

    <p class="recuo-menu"><b>SEI++</b></p>
    <p class="recuo-menu"><b>SEI Pro</b></p>

    <p>Este tutorial foi desenvolvido utilizando o <b>SEI++</b>, portanto algumas das funcionalidades
        demonstradas só poderão ser executadas de forma mais prática com o uso de uma das referidas
        extensões.
    </p>

    <!-- Adicionar uma explicação sobre "Extensão de navegador é um código adicional que implementa funcionalidades úteis."
    
        Orientar para instalar apenas umas das extensões.

    -->


    <h3>Instalação da extensão SEI++</h3>
    <p class="recuo-main">
        No Google Chrome: clique <a
            href="https://chrome.google.com/webstore/detail/sei++/jkngjemcdoglnkbbdekpnkgfbpoldcck?hl=pt-BR"
            target="_blank"><b><u>aqui</u></b></a>
    </p>
    <p class="recuo-main">
        No Mozilla Firefox: clique <a href="https://addons.mozilla.org/pt-BR/firefox/addon/sei/"
            target="_blank"><b><u>aqui</u></b></a>
    </p>

    <h3>Instalação da extensão SEI Pro</h3>
    <p class="recuo-main">
        No Google Chrome: clique <a
            href="https://chrome.google.com/webstore/detail/sei-pro/pdbbapplhjopafpgidbgceccbbmehcjj?hl=pt-BR"
            target="_blank"><b><u>aqui</u></b></a>
    </p>
    <p class="recuo-main">
        No Mozilla Firefox: clique <a href="https://addons.mozilla.org/pt-BR/firefox/addon/sei-pro/"
            target="_blank"><b><u>aqui</u></b></a>
    </p>

    <br><br><br>

</section>