<nav class="menu">
    <ul>
        <li id="first_li" routerLink="" routerLinkActive="active1" [routerLinkActiveOptions]="{exact: true}">Início</li>
        <li routerLink="/consideracoes-iniciais" routerLinkActive="active1">Considerações iniciais</li>
        <li routerLink="/visao-geral" routerLinkActive="active1">Visão Geral</li>
        <li routerLink="/iniciar-processo" routerLinkActive="active1">Iniciar Processo</li>
        <li routerLink="/tela-processo" routerLinkActive="active1">Tela do Processo</li>
        <li><a>Teste21</a></li>

    </ul>
</nav>
