<section id="visao-geral">
    <h2>Visão geral</h2>

    <p>O SEI - Sistema Eletrônico de Informações - é um sistema de gestão de processos e documentos
        arquivísticos eletrônicos. É uma ferramenta que permite a produção, edição, assinatura e trâmite de
        documentos dentro do próprio sistema, proporcionando a virtualização de processos e documentos,
        permitindo atuação simultânea de várias unidades ao mesmo tempo em um mesmo processo, ainda que
        distantes fisicamente, reduzindo o tempo de realização das atividades.</p>

    <p>Um processo físico tramita em apenas uma unidade por vez:</p>
    <img class="diagrama" src="./assets/images/processo_fisico.png" alt="">

    <br><br>

    <p>Enquanto um processo SEI pode tramitar em inúmeras unidades ao mesmo tempo:</p>
    <img class="diagrama" src="./assets/images/processo_sei.png" alt="">
    <br>

</section>

<section id="tela-inicial">
    <h3>Tela inicial</h3>
    <p>É a tela inicial do SEI, apresentada logo após logarmos no sistema. Nela, podemos identificar algumas
        áreas/ferramentas:</p>

    <div class="recuo-main">
        <p>
            <span class="red-circle">&nbsp;1&nbsp;</span>&nbsp; <b>Barra de Ferramentas</b>
        </p>
        <p>
            <span class="red-circle">&nbsp;2&nbsp;</span>&nbsp; <b>Menu Principal</b>
        </p>
        <p>
            <span class="red-circle">&nbsp;3&nbsp;</span>&nbsp; <b>Tela Controle de Processos</b>: onde são
            visualizados todos os processos que encontram-se abertos na unidade.
        </p>
        <p>
            <span class="red-circle">&nbsp;4&nbsp;</span>&nbsp; <b>Processos recebidos de outras unidades</b>
        </p>
        <p>
            <span class="red-circle">&nbsp;5&nbsp;</span>&nbsp; <b>Processos gerados pela própria unidade</b>
        </p>
    </div>
    <img class="screen" src="./assets/images/resumida.png" alt="tela inicial">

    <p>A tela <b>Controle de Processos</b> <span class="red-circle">&nbsp;3&nbsp;</span>&nbsp; pode ser
        visualizada
        de forma <b>resumida</b> (acima), exibindo apenas os números de processo e o usuário ao qual o
        processo está atribuído.
    </p>

    <p>
        Ou de forma <b>detalhada</b> (abaixo), exibindo também o tipo de processo e o(s) interessado(s):
    </p>

    <img class="screen" src="./assets/images/detalhada.png" alt="tela inicial">

    <p>Pode-se alternar entre ambas as formas, clicando em <u>Visualização resumida</u> ou <u> Visualização
            detalhada</u>, conforme demonstração abaixo:</p>

    <div class="divider"></div>

    <div class="video-tag"><img src="./assets/images/icon-play.svg" alt=""> Vídeo demonstração</div>
    <video src="./assets/videos/detalhada-resumida.mp4" controls preload="none"></video>

    <div class="divider"></div>

    <div class="yellow-board">
        <h4>Dica</h4>
        <p>Para assistir ao vídeo em tela cheia, dê um duplo clique neste após iniciar a reprodução. Para sair
            do modo tela cheia,
            dê um duplo clique sobre o vídeo ou pressione a tecla <span class="tecla">Esc</span>
        </p>
    </div>

    <br><br><br>