<h2>Ações com processos</h2>

<p>Processo criado, a <span class="bi">Tela de Processo</span> será exibida com o novo processo:</p>

<img src="./assets/images/*****.png" alt="** Imagem Tela do Processo **">
<br><br>

<p>***** Legendar Tela do Processo *****</p>

<br><br>

<h3>Tipos de Documentos</h3>

<p>No SEI existem 2 tipos de documentos:</p>
<p class="recuo-main"><span class="bu">Internos</span> : documentos gerados/editados dentro do SEI.</p>
<p class="recuo-main"><span class="bu">Externos</span> : documentos gerados externamente ao SEI.</p>


<h3>Incluir Documento Interno</h3>

<p>Para criar um documento interno clique no ícone <span class="bi">Incluir Documento</span></p>

<img src="./assets/images/*****.png" alt="** Imagem Barra processo_1">
<br><br>

<p>Será exibida a tela <span class="bi">Gerar Documento</span> :</p>

<img src="./assets/images/*****.png" alt="** Tela Gerar Documento **">
<br><br>

<p>Selecionar o <span class="bi">Nível de Acesso</span> e em seguida clique no botão Confirmar Dados</p>

<p>Criado então o respectivo documento modelo do Órgão.</p>

<p>Caso a janela de edição do documento não tenha sido aberta automaticamente, clique no ícone <span class="bi">Editar Conteúdo</span></p>
<img src="./assets/images/*****.png" alt="** Imagem Barra processo_1">
<br><br>

